/*
  ========================================
  Style Reset START
  ========================================
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button{
  border: none;
}
/*
  ========================================
  Style Reset END
  ========================================

  ========================================
  START CSS CODING . . . BEGIN!
  ========================================

  ========================================
  GRID
  ========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/*
  ========================================
  BASE COLORS & FONTS
  ========================================
*/
html *{
  font-size: 62.5%;
  line-height: 150%;
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 4.8vh;
  font-weight: bold;
  letter-spacing: 5%;
}
p{
  font-size: 1.5vh;
  font-weight: light;
}
button, input[type=file]::file-selector-button{
  font-weight: 600;
  font-size: 1.7vh;
  background: #1536F1;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

input{
  font-weight: 600;
  font-size: 1.7vh;
}

.link{
  color: #1536F1;
  text-decoration: underline;
}
/*
  ========================================
  BACKGROUNDS
  ========================================
*/
body{
  background: linear-gradient(135deg, #E90DCA 0%, #1536F1 100%);
}
  /*
  ========================================
  SPECIFIC ITEMS
  ========================================
*/
header{
  position: fixed;
  top: 1%;
  left: 5%;
}
.logo{
  height: 7vh;
  width: auto;
}
.logo svg{
  height: 100%;
  width: 100%;
}
/*
  ========================================
  MAIN LAYOUT
  ========================================
*/
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main{
  background: white;
  width: 90vw;
  height: 80vh;
  border-radius: 20px;
  padding: 5%;
  display: flex;
  justify-content: space-between;
}
.imgContainer{
  height: auto;
  width: 45%;
}
.mainImg{
  height: 80%;
  width: auto;
}
.img{
  height: 100%;
  width: auto;
  border-radius: 20px;
}
/*
  ========================================
  MINI LAYOUT
  ========================================
*/

/*
  ========================================
  INTERACTIVE
  ========================================
*/
.link:hover, button:hover{
  cursor: pointer;
}
input:hover{
  background: #7f22de;
  transition: .3s;
}

button:active, button:focus{
  filter: brightness(1.2);
  transition: .7s;
}
/*
  ========================================
  MEDIA QUERIES
  ========================================
*/
